<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<clear />
		<!-- <add key="Charisma.Framework.Backend" value="https://azure.charisma.tech/Brokerage/Framework/_packaging/Charisma.Framework.Backend/nuget/v3/index.json" /> -->
		<add key="Charisma.Framework.Backend" value="https://azure.charisma.tech/Brokerage/_packaging/Charisma_Trader_Framework_Backend/nuget/v3/index.json" />
		<add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
	</packageSources>
</configuration>