<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<clear />
		<!-- <add key="Charisma.Framework.Backend" value="https://azure.charisma.tech/Brokerage/Framework/_packaging/Charisma.Framework.Backend/nuget/v3/index.json" /> -->
		<add key="Cip-Nuget-Gr" value="https://artifacts.charisma.tech/repository/Cip-Nuget-Gr/index.json" />
	</packageSources>
</configuration>